*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'open sans';
	font-size: 16px;
}

.container {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
	padding: 52px 0;
}

header {
	width: 100%;
	height: 650px;
	background-image: url('../img/skewed.png');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	position: relative; 
	overflow: hidden;
	color: #FFF;
	text-align: center;
}

header .cover__page {
	margin-top: 152px;
}

header .header--title {
	font-size: 85px;
}

header .header--subtitle {
	font-size: 42px;
	font-weight: 300;
	margin-bottom: 32px;
}

header .btn--subscribe {
	display: inline-block;
	padding: 6px;
	width: 128px;
	border: 1px solid #FFF;
	color: #FFF;
	font-size: 19px;
	text-align: center;
	text-decoration: none;
	border-radius: 16px;
}

.partial__down {
	z-index: 10;
	position: absolute;
	bottom: 0;
	left: 0;
	border-width: 0 0 35vh 100vw;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}

.partial__up {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	border-width: 35vh 100vw 0 0;
	border-style: solid;
	border-color: #fff transparent transparent  transparent;
}

.page--title{
	text-align: center;
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 600;
	height: auto;
}

.slogan {
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 24px;
}

.about__us .about--text {
	margin-bottom: 13px;
	font-weight: 300;
	text-align: justify;
	line-height: 24px;
	color: rgb(24, 16, 16);
}

.about__us .btn--subscribe {
	display: inline-block;
	padding: 6px;
	width: 128px;
	font-weight: 300;
	border: 1px solid rgb(24, 16, 16, .7);
	color: #222;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	border-radius: 16px;
}

.gallery {
	width: 100%;
	height: 500px;
	overflow: hidden;
	display: flex;
	position: relative;
}

.images {
	width: 20%;
	height: 500px;
	overflow: hidden;
	position: relative;
}

.images img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.up {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #34495e;
	opacity: .7;
}

.up h2 {
	position: relative;
	top: 45%;
	text-align: center;
	color: #FFF;
}

.up div {
	position: relative;
	display: block;
	top: 46%;
	width: 60px;
	height: 5px;
	background: #FFF;
	margin: auto;
}

.cards {
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card {
	margin: 20px 0;
	width: 30%;
	height: 250px;
	text-align: center;
	padding: 20px;
	box-shadow: 0px 0px 4px 0px #34495e;
}

.cards img {
	width: 140px;
	height: 140px;
	object-fit: cover;
	border-radius: 100%;
}

.back {
	height: 900px;
	position: relative;
	background-image: url('../img/back.png');
	overflow: hidden;
	background-attachment: fixed;
	background-position: center;
	padding-top: 130px;
}

.partial__down_bluedark {
	z-index: 10;
	position: absolute;
	bottom: 0;
	left: 0;
	border-width: 0 0 35vh 100vw;
	border-style: solid;
	border-color: transparent transparent #2c3e50 transparent;
}

.client--title{
	text-align: center;
	color: #FFF;
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 600;
	height: auto;
	margin-top: 48px;
}

.client--subtitle{
	text-align: center;
	color: #FFF;
}

.clients {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 64px;
	width: 100%;
	justify-content: space-between;
}

.client {
	width: 30%;
}

.client img {
	width: 100%;
}

.client--subtitle--special {
	margin: auto;
	text-align: center;
	color: #FFF;
	font-weight: 300;
	font-size: 24px;
}

footer {
	background: #2c3e50; 
	height: auto;
}

.footer--title {
	text-align: center;
	color: #FFF;
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 600;
	height: auto;
	margin-top: 48px;
}

.footer--subtitle{
	text-align: center;
	color: #FFF;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 64px;
}

form {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: auto;
}

.form-ctrl {
	display: inline-block;
	width: 48%;
	padding: 13px;
	border: none;
	color: #FFF;
	font-family: 'open sans';
	background: rgba(37, 37, 33, .7);
	margin-bottom: 16px;
	border-top: 1px solid rgba(37, 37, 33, .7);
}

textarea {
	display: block;
	width: 100%;
	padding: 13px;
	border: none;
	color: #FFF;
	font-family: 'open sans';
	background: rgba(37, 37, 33, .7);
	margin-bottom: 16px;
	border-top: 1px solid rgba(37, 37, 33, .7);
	min-width: 100%;
	max-width: 100%;
	min-height: 200px;
	max-height: 200px;
}

.btn-submit {
	display: inline-block;
	width: 96px;
	padding: 13px;
	background: rgba(37, 37, 33, .7);
	border: none;
	font-family: 'open sans';
	font-size: 14px;
	color: #FFF;
}

@media screen and (max-width: 580px) {

	header .header--title {
		font-size: 50px;
	}

	.up h2 {
		position: relative;
		top: 45%;
		text-align: center;
		color: #FFF;
		display: none;
	}

	.up div {
		position: relative;
		display: none;
		top: 46%;
		width: 60px;
		height: 5px;
		background: #FFF;
		margin: auto;
	}

	.cards {
		width: 100%;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.card {
		margin: 20px 0;
		width: 100%;
		height: 250px;
		text-align: center;
		padding: 20px;
		box-shadow: 0px 0px 4px 0px #34495e;
	}

	.clients {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 64px;
		width: 100%;
		justify-content: space-between;
		flex-direction: column;
	}

	.client {
		width: 55%;
		
	}
}